# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android/iOS generated output
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Keystore
*.jks
*.jks.old
android/key.properties

Supporting_docs/

# crash logs
*.log
