# Cache and build outputs (Massive folders)
.dart_tool/
.build/
build/

# IDE config files
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace

# Local lock files and configuration overrides
.fvm/
.flutter-plugins
.flutter-plugins-dependencies
.packages
/android/local.properties

# Operating system trash files
.DS_Store
Thumbs.db

# Private security keys and release credentials 
# (Never let these copy into a docker image or cloud cache!)
*.jks
*.keystore
android/key.properties
